h1{
    color:rgb(86, 86, 123);
}
p{
    color: black;
   
}
h5{
    color: rgb(236, 141, 8);
}
.caption{
    color: white;
}
.reg-bg-info{
    color:rgb(86, 86, 123);
    background-color: rgb(252, 209, 216);
}
.reg-bg-blue{
    background-color:rgb(86, 86, 123);
}
.reg-btn-primary{
    color: rgb(252, 209, 216) ;
    font-weight: 400;
    background-image: linear-gradient(to bottom,rgb(86, 86, 123),white );
    border: 2px;
    border-radius: 8px;
    padding: 9px 25px;

}

.reg-btn-form{
    color: rgb(252, 209, 216) ;
    font-weight: 400;
    background-image: linear-gradient(to bottom,rgb(86, 86, 123),  rgb(38, 38, 52)  );
    border: 2px;
    border-radius: 8px;
    padding: 9px 25px;

}

footer{
    padding: 130px;
    height: 350px;
    color: rgb(236, 141, 8) ;
}